body {
    font-family: 'Arial', sans-serif;
    background-color: hsl(199, 85%, 76%);
    color: hwb(221 34% 3%);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.dark-mode {
    background-color: hsl(0, 0%, 10%);
    color: #fff
}

.dark-btn {
    background-color: hsl(0, 0%, 90%);
    color: #333;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px
}

.background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1
}

button {
    background-color: hsl(203, 100%, 86%);
    color: hwb(216 4% 4%);
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
    font-size: 20px;
    cursor: pointer;
}

.info>*,
.game-level button {
    font-size: 20px;
    margin: 10px;
    font-weight: bold;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #ee00c6;
    margin-bottom: 20px;
    text-align: center;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
}

td {
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    border: 4px solid aliceblue;
    background-color: hwb(221 34% 3%);
    color: aliceblue;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

td.clicked {
    background-color: hsl(238, 96%, 22%);
}

td.marked {
    background-color: hsl(37, 95%, 48%);
}

td:hover {
    background-color: hsl(238, 96%, 22%);
}

.restart-btn {
    font-size: 24px;
    margin-top: 20px;
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}

.hint {
    /* Define the style for cells revealed during a hint */
    background-color: #ddd;
    /* Adjust the background color as needed */
    color: #333;
    /* Adjust the text color as needed */
    /* Add any other styling you want for hint-revealed cells */
}

.hide {
    display: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 400px;
    background: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 24px;
}

.safe-click-count {
    color: #28a745;
    font-weight: bold;
}

.safe-click-marked {
    background-color: hwb(155 46% 5%) !important;
    color: #fff !important;
}

.mines-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.mines-in,
.mines-marked {
    font-size: 20px;
    font-weight: bold;
    color: #dc3545;
}

.lives {
    font-size: 20px;
    font-weight: bold;
    color: #ee00c6;
}

footer {
    text-align: center;
    margin-top: auto;
}