* {
    text-align: center;
    background-color: rgb(38, 38, 39);
    color: rgb(250, 235, 224);
    font-weight: bold;
}

div {
    margin: auto
}

/* .board-container {
    margin: 20px 300px 20px 300px;

} */

.board td {
    border: 4px solid black;
    background-color: lightgrey;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.board td.clicked {
    background-color: grey;
}

.hidden {
    visibility: hidden;
}

.hide {
    display: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 400px;
    background-color: blue;
    color: aliceblue;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 50px;
    border-radius: 5px;
    max-width: 500px;
    max-height: 500px;
}

.info>* {
    font-size: 30px;
}

button {
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    font-size: 20px
}